@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "KyivTypeSans";
    src: url("../fonts/KyivTypeSans-Bold-.otf") format("opentype");
}



* {
    padding: 0;
    margin: 0;
}

.container-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 19px;
    margin: 0 25px;
    margin-bottom: 160px;
}

.Ellipse6,
.Ellipse7,
.Ellipse9,
.Ellipse2,
.Ellipse10,
.Ellipse8,
.Ellipse11,
.Ellipse12,
.Ellipse13 {
    display: none;
}



.card_img {
    display: none;
}

.cards {
    background-color: rgba(22, 67, 155, 0.3);
    width: 350px;
    height: 100%;
    padding: 24px 16px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: inset 50px 50px 50px 0 rgba(255, 255, 255, 0.154);
}

.cards2 {
    margin-top: 87px;
    background-color: rgba(183, 207, 255, 0.4);
    width: 350px;
    padding: 24px 16px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: inset 50px 50px 50px 0 rgba(255, 255, 255, 0.154);
}

.cards3 {
    background-color: rgba(18, 83, 250, 0.5);
    height: 100%;
    width: 350px;
    padding: 24px 16px;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: inset 50px 50px 50px 0 rgba(255, 255, 255, 0.154);
}

.nameCourse {
    font-family: "KyivTypeSans", sans-serif;
    font-size: 32px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
}

.nameCourse1 {
    font-family: "KyivTypeSans", sans-serif;
    font-size: 32px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
}

.nameCourse2 {
    font-family: "KyivTypeSans", sans-serif;
    font-size: 32px;
    text-decoration: underline;
    color: rgba(30, 13, 226, 0.8);
}

.div-name-card {
    margin-top: 30px;
}

.name-cards {
    display: flex;
}

.name-card {
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
    line-height: 2;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.card-description {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.course-card {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 76px;
    line-height: 2;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
}

.btn_buy p {
    font-size: 32px;
    font-family: "KyivTypeSans", sans-serif;
    color: #15336D;
}

.btn_buy a {
    font-size: 20px;
    color: #fff;
    background-color: #122C60;
    padding: 14px 50px;
    border-radius: 60px;
    text-decoration: none;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn_buy_premium {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
}

.btn_buy_premium p {
    font-size: 32px;
    font-family: "KyivTypeSans", sans-serif;
    color: rgba(63, 55, 224, 1);
}

.btn_buy_premium a {
    font-size: 20px;
    color: #fff;
    background-color: rgba(63, 55, 224, 1);
    padding: 14px 50px;
    border-radius: 60px;
    text-decoration: none;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* MEDIA SCREEN */

@media only screen and (max-width: 834px) {
    .container-4 {
        margin-top: 210px;
    }

    .card_img {
        display: flex;
        justify-content: center;
        margin-top: -105px;
    }

    .card_img img {
        width: 100px;
    }

    .cards2,
    .cards3 {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 520px) {

    .Ellipse6 {
        display: block;
        position: absolute;
        margin-top: 11em;
        margin-left: -10em;
        z-index: -1;
    }

    .Ellipse7 {
        display: block;
        position: absolute;
        margin-top: 23.5em;
        margin-left: 11.5em;
        z-index: -1;
    }

    .Ellipse9 {
        display: block;
        position: absolute;
        margin-top: 38.5em;
        margin-left: -17.5em;
        z-index: -1;
    }

    .Ellipse2 {
        display: block;
        position: absolute;
        margin-top: 42em;
        margin-left: 1.2em;
        z-index: -1;
    }

    .Ellipse10 {
        display: block;
        position: absolute;
        margin-top: 64em;
        margin-left: -11em;
        z-index: -1;
    }

    .Ellipse8 {
        display: block;
        position: absolute;
        margin-top: 74em;
        margin-left: 15.5em;
        z-index: -1;
    }

    .Ellipse11 {
        display: block;
        position: absolute;
        margin-top: 88em;
        margin-left: -9em;
        z-index: -1;
    }

    .Ellipse12 {
        display: block;
        position: absolute;
        margin-top: 108em;
        margin-left: 14em;
        z-index: -1;
    }
    .Ellipse13 {
        display: block;
        position: absolute;
        margin-top: 118em;
        margin-left: -17em;
        z-index: -1;
    }

    .cards2,
    .cards3 {
        margin-top: 55px;
    }

    .nameCourse,
    .nameCourse1,
    .nameCourse2 {
        font-size: 26.6px;
    }

    .name-card {
        font-size: 13.3px;
    }

    .card-description {
        font-size: 13.3px;
    }

    .course-card {
        font-size: 16.6px;
    }

    .btn_buy a {
        font-size: 16.6px;
        padding: 11.6px 41.6px;
    }

    .btn_buy p {
        font-size: 26.6px;
    }

    .btn_buy_premium a {
        font-size: 16.6px;
        padding: 11.6px 41.6px;
    }
}

@media only screen and (max-width: 388px) {
    .Ellipse6 {
        display: block;
        position: absolute;
        margin-top: 11em;
        margin-left: -8em;
        z-index: -1;
    }

    .Ellipse7 {
        display: block;
        position: absolute;
        margin-top: 23.5em;
        margin-left: 9.5em;
        z-index: -1;
    }

    .Ellipse9 {
        display: block;
        position: absolute;
        margin-top: 38.5em;
        margin-left: -14.5em;
        z-index: -1;
    }

    .Ellipse2 {
        display: block;
        position: absolute;
        margin-top: 42em;
        margin-left: 0em;
        z-index: -1;
    }

    .Ellipse8 {
        display: block;
        position: absolute;
        margin-top: 74em;
        margin-left: 13em;
        z-index: -1;
    }
    .Ellipse12 {
        display: block;
        position: absolute;
        margin-top: 108em;
        margin-left: 12em;
        z-index: -1;
    }
    .Ellipse13 {
        display: block;
        position: absolute;
        margin-top: 118em;
        margin-left: -15em;
        z-index: -1;
    }
}
